.container-form-login {
  height: 100%;
  width: 500px;
  border: 0.5 solid silver; 
  padding: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.input-form {
  width: 80%;
}
.login-form {
  width: 100%;
  display: flex;
  margin: auto;
  

}
.login-form-btn {
  width: 45%;
  
}
.forget-form {
  text-align: right;
}
.text-title {
  width: 100%;
  text-align: left;
  font-size: 21px;
  
} 
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-main {
  padding: 100px;
}

